{
  "extends": "eslint-config-egg",
  "parserOptions": {
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "quotes": ["warn", "single"],
    "no-unused-vars": ["warn", { "vars": "local", "varsIgnorePattern": "^_" }]
  }
}
